DATABASE_URL="postgresql://postgres:postgres@localhost:5432/studium?schema=public"

NODE_ENV=development

# JWT
JWT_ACCESS_SECRET='accessSecret'
JWT_ACCESS_EXPIRES='30m'
JWT_REFRESH_SECRET='refreshSecret'
JWT_REFRESH_EXPIRES='3d'

# SMTP
SMTP_HOST=localhost
SMTP_PORT=1025
SMTP_USER=null
SMTP_PASSWORD=null

