import { Controller } from '@nestjs/common';
import { <%= classify(name) %>Service } from './<%= dasherize(name) %>.service';

@Controller()
export class <%= classify(name) %>Controller {
  constructor(
    private readonly <%= camelize(name) %>Service: <%= classify(name) %>Service,
  ) {}
}