export * from './<%= dasherize(name) %>.module';
export * from './<%= dasherize(name) %>.service';
export * from './<%= dasherize(name) %>.controller';
export * from './<%= dasherize(name) %>.repository';

